.email-index {
    grid-template-columns: minmax(150px, 1fr) minmax(100px, 4fr);
    grid-template-rows: 50px minmax(100px, 1fr);
    gap: 5px;

    padding: 10px 20px;
}

.email-filter form {
    width: 100%;
}

.email-index >*>.compose-btn {
    margin: 10px 36px;
    background-color: var(--mailOutletBG);
    border-radius: 20px;
    padding: 10px 15px;

    cursor: pointer;
}

.email-index >*>.compose-btn:hover {
    background-color: #c2bfbf62;
}