.email-index {
    font-family: 'google-sans';
    grid-template-columns: 150px minmax(100px, 4fr);
    grid-template-rows: 50px minmax(100px, 1fr);
    gap: 5px;

    padding: 10px 20px 10px 10px;
}

.email-filter form {
    width: 100%;
}

.email-index .compose-btn {
    margin: 10px 36px;
    background-color: var(--mailOutletBG);
    border-radius: 20px;
    padding: 10px 15px;
    width: fit-content;

    cursor: pointer;
}

.email-index .compose-btn:hover {
    background-color: #c2bfbf62;
}

@media (width < 700px) {
    .email-index {
        grid-template-columns: 30px minmax(100px, 1fr);
        grid-template-rows: minmax(100px, 1fr);
        padding-inline: 8px 16px;
    }

    .email-index>a {
        position: fixed;
        inset: auto 10px 10px auto;

        z-index: 1;
    }

    .email-index .compose-btn {
        background-color: rgb(255, 255, 255);
    }

    .email-index .compose-btn:hover {
        background-color: #c2bfbf;
    }

    .email-filter {
        display: none;
    }
}