.email-preview {
    flex-grow: 1;
    justify-self: end;
    align-items: center;
    width: calc(100% - 10px);

    gap: 30px;

    cursor: pointer;
}

.email-short-disp {
    flex-grow: 1;
    gap: 5px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: calc(100vw - 300px);
}

.email-time-disp {
    text-wrap: nowrap;
}

.email-short-disp>h6 {
    font-size: 1em;
}

.email-short-disp>p,
.email-time-disp {
    font-size: 12px;
    color: var(--mailOutletBorder);
}


.email-list>li:hover .email-time-disp {
    color: transparent;
}