.email-filter {
    padding-inline: 5px;
}

.txt-input-div {
    height: 20px;
    border-radius: 10px;
    padding-inline-end: 5px;
    background-color: rgba(245, 245, 245, 0.699);
}

.txt-input-div > input {
    border: none;
    padding-inline-start: 8px;
    background-color: transparent;
}
