.email-details {
    border: 1px solid var(--mailOutletBorder);
    border-radius: 20px;
    padding: 10px 15px 0;
    background-color: var(--mailOutletBG);

    cursor: context-menu;
}

.email-details button {
    border-radius: 20px;
    padding-inline: 10px;
    height: 36.67px;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.email-details>h1 {
    padding-block: 10px;
    font-size: 20px;
}

.email-details>div {
    padding-block-end: 10px;
    border-bottom: 1px solid var(--mailOutletBorder);
}

.to-from {
    gap: 5px;
}

.to-from div {
    gap: 10px;
}

.to-from h5,
.sent-actions h5 {
    font-weight: lighter;
    color: var(--mailOutletBorder);
}

.email-details .sent-actions h5 {
    padding: 10px;
}

.to-from h4 {
    font-size: 0.8rem;
}

.email-details .bottom-btns {
    gap: 20px;
    margin-block: 16px;
}

.email-details p {
    padding-block-start: 10px;
}

.email-details .bottom-btns button {
    border: 1px solid var(--mailOutletBorder);
}

.email-details .small,
.email-details .actions-bar i {
    display: none;
}

.email-details .actions-bar i.fa-chevron-left,
.email-details .actions-bar i.fa-chevron-right {
    display: block;
}

.email-details .sent-actions .star {
    border-radius: 20px;
    padding: 10px 10px;
    height: 36.67px;

    cursor: pointer;
}

.email-details button:hover,
.email-details .sent-actions .star:hover {
    background-color: #c2bfbf62;
}

.email-details button:active,
.email-details .sent-actions .star:active {
    scale: 1.1;
}

@media (width < 700px) {

    .email-details .actions-bar button,
    .sent-actions button {
        height: 36.67px;
        width: 36.67px;
    }

    .email-details .small,
    .email-details .actions-bar i {
        display: block;
    }

    .email-details .large,
    .email-details span {
        display: none;
    }
}