.email-list {
    border: 1px solid var(--mailOutletBorder);
    border-radius: 20px;
    padding: 10px 15px 5px;
    background-color: var(--mailOutletBG);
}

.email-list>li {
    position: relative;
    width: 100%;
    height: 36px;

    align-content: center;
    padding-block: 10px;
    border-bottom: 1px solid var(--mailOutletBorder);

    grid-template-columns: 40px minmax(200px, 1fr);
    gap: 20px;
}

.email-list li:first-child {
    padding-block-start: 0;
    align-items: center;
}

.email-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.email-sort div {
    gap: 25px;
}

.email-sort p {
    font-size: 12px;
    color: var(--mailOutletBorder);
}

.email-list li:first-child button {
    border-radius: 20px;
    padding-inline: 10px;
    height: 30px;
    width: fit-content;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.email-mark-actions,
.email-actions {
    gap: 5px;
}

.email-mark-actions>*,
.email-actions>* {
    cursor: pointer;
}

.email-actions {
    display: none;
    position: absolute;
    inset: 22% 0 auto auto;
}

.email-list>li:hover:not(:first-child) {
    background: linear-gradient(to left, rgba(245, 245, 245, 0.19), 2%, whitesmoke, 98%, rgba(245, 245, 245, 0.19));
    box-shadow: 0 3px 2px -2px rgb(82, 82, 82);
}

.email-list>li:hover .email-actions {
    display: flex;
}

@media (width < 700px) {
    .email-list>li {
        height: 60px;
        grid-template-columns: minmax(100px, 1fr);
    }

    .email-list>li:first-child {
        display: none;
    }

    .email-mark-actions,
    li:hover>.email-actions>* {
        display: none;
    }
}