.email-list {
    border: 1px solid var(--mailOutletBorder);
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--mailOutletBG);
}

.email-list > li {
    position: relative;
    width: 100%;
    height: 30px;

    align-content: center;
    padding-block: 10px;
    border-bottom: 1px solid var(--mailOutletBorder);

    grid-template-columns: 40px minmax(200px, 1fr);
    gap: 20px;
}

.email-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.email-mark-actions,
.email-actions {
    gap: 5px;
}

.email-mark-actions > *,
.email-actions> * {
    cursor: pointer;
}

.email-actions {
    display: none;
    position: absolute;
    inset: 30% 0 auto auto;
}

.email-list > li:hover .email-actions {
    display: flex;
}