.add-note-div .square-check::before {
    left: -2.5em;
    content: '\f14a';
}


.add-note-div .brush::before {
    content: '\f1fc';
}


.add-note-div .image::before {
    content: '\f03e';
}

.add-note-div input[type="text"] {
    background-color: inherit;
    color: var(--add-note-clr);
    border: none;
    height: 2em;
    font-size: 1.2em;
    font-family: google-sans, roboto;
    height: 2.2em;
}

.add-note-div input:focus {
    outline: none;
}

.add-note-div input:focus {
    outline: none;
}

.add-note-div {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    max-width: 40em;
    background-color: transparent;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-block: 45px;
    padding: 12px 16px 12px 16px;
}

.add-note-div .icons {
    font-size: 1.2em;
    display: flex;
    gap: 1.7em;
    font-family: fa;
    color: var(--icons-clr);
    padding-inline-end: 0.9375em;
}

.add-note-div .icons :is(span) {
    cursor: pointer;
}

.icons span:hover {
    background-color: var(--icon-bgc);
    padding: 0.3em;
    border-radius: 50%;
    transition: .4s;
}

.add-note-txt {
    color: var(--add-note-clr);
    font-size: 1em;
    font-family: Arial;
    padding-inline-start: 16px;
    font-weight: 300;
    width: 41em;
}

.add-note-div .star::before {
    content: '\f005';
    font-family: fa reg;
    color: var(--icons-clr);
    font-size: 1.2em;
    padding-inline-end: 0.9375em;
    cursor: pointer;
}

.star:hover::before {
    content: '\f005';
    font-family: fa;
}

.add-note-txt p:focus {
    outline: none;
}

.add-note-div textarea:focus {
    outline: none;
}

.add-note-div textarea {
    border: none;
    background-color: inherit;
    font-family: google-sans, roboto;
    color: var(--add-note-clr);
    resize: none;
    width: 100%;
}

.add-note-div .input-place {
    width: 70%;
}

.user-actions .save::before {
    content: '\f0c7';
    font-family: fa;
}

.user-actions .color-palette:before {
    content: '\f53f';
    font-family: fa;
}

.user-actions {
    position: relative;
}

.colors-to-choose {
    position: absolute;
    width: 7.625em;
    height: 1.875em;
    background-color: var(--main-bg-note-color);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    top: 1.25em;
}

.colors-to-choose .color {
    top: 0.3125em;
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
}

.colors-to-choose .color:hover {
    outline: gold .1em solid;
}