.add-note-div .square-check::before {
    left: -2.5em;
    content: '\f14a';
}
   

.add-note-div .brush::before {
    content: '\f1fc';
}
    

.add-note-div .image::before {
    content: '\f03e';
}

.add-note-div input[type="text"] {
    color: var(--add-note-clr);
    padding: 18px;
    border: none;
    width: 30em;
    height: 2em;
    font-size: 1.2em;
    width: 100%;
    font-family: google-sans, roboto;
    height: 2.2em;
}

.add-note-div input:focus {
    outline: none;
}

.add-note-div .icons {
    font-size: 1.2em;
    display: flex;
    padding-inline-end: 18px;
    color: var(--icons-clr);
}

/* .add-note-div input[type="text"] {
    color: var(--add-note-clr);
    padding: 12px 16px 12px 16px;
    border: none;
    height: 2.1em;
    font-size: 1.2em;
    width: 25em;
    font-family: google-sans, roboto;
    margin-block-end: 30px;
} */

.add-note-div input:focus {
    outline: none;
}

.add-note-div {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    width: 40em;
    background-color: transparent;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-block: 45px;
}

.add-note-div .icons {
    top: calc(50% - 1.2em);
    right: 0;
    font-size: 1.2em;
    display: flex;
    gap: 1.7em;
    font-family: fa;
    color: var(--icons-clr);
    padding-inline-end: 18px;
}

.add-note-txt {
    color: var(--add-note-clr);
    font-size: 1em;
    font-family: Arial;
    padding-inline-start: 16px;
    font-weight: 300;
    width: 41em;
}

.add-note-div .star::before {
    content: '\f005';
    font-family: fa reg;
    color: var(--icons-clr);
    font-size: 1.2em;
    right: 18px;
    top: 12px;
    padding-inline-end: 18px;
}

.add-note-txt p:focus {
    outline: none;
}

.add-note-div textarea:focus {
    outline: none;
}

.add-note-div textarea {
    border: none;
    font-family: google-sans, roboto;
    padding: 12px 16px 12px 16px;
    color: var(--add-note-clr);
}