 /* note list */

 .note.NoteImg > img {
    max-width: 100%;
    display: block;
    object-fit: contain;
    height: auto;
 }

 .note-element {
    padding: 10px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
 }

 article {
   width: 100%;
 }

 .note.todo-note > ul .finished {
    font-weight: bold;
 }

 .notes-container {
   columns: 250px 8;
   margin-inline: 10.625em;
}

.notes-container li {
   break-inside: avoid;
   margin-block-end: 20px;
}
