.note-main {
    background-color: var(--main-bg-note-color);
    padding-block: .9em;
    height: 100vh;
}

@media (max-width: 820px) {

    .note-main .add-note-div {
        margin-inline-start: 5.5rem;
        margin-inline-end: 3rem;
    }

    .note-main .notes-container {
        margin-inline-start: 5.5rem;
        margin-inline-end: 3rem;
    }

}
