header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.note-header {
    display: flex;
    justify-content: space-between;
    padding-block-end: .9em;
    position: relative;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.span-search::before {
    content: '\f002';
    font-family: fa;
}

.note-header-img {
    width: 40px;
    height: 40px;
}

.btn-search::before {
    content: '\f0c9';
    font-family: fa;
}

.header-search {
    padding-inline-end: 140px;
}

.menu-of-btn {
    display: none;
}

.header-logo {
    color: var(--main-notes-logo-clr);
    display: inline-block;
    font-family: google Sans, Arial, sans-serif;
    font-size: 1.375em;
    line-height: 24px;
    padding-left: 8px;
    vertical-align: middle;
}

.header-search input {
    height: 3em;
    width: 30vw;
    background-color: #F1F3F4;
    border: none;
    padding-inline-start: 15px;
}

.header-search span {
    background-color: #F1F3F4;
    text-align: center;
}

.search-span-container {
    background-color: #F1F3F4;
    padding-inline-start: 15px;    
    height: 2.5em;
}

.search-and-logo {
    width: 100%;
    padding-inline: 1em;
}

.deleted-notes::before {
    content: '\f2ed';
    font-family: fa-reg;
}

.todos-notes::before {
    content: '\f14a';
    font-family: fa;
}

.img-notes::before {
    content: '\f03e';
    font-family: fa;
}

.txt-notes::before {
    content: '\f031';
    font-family: fa;
}

.side-nav {
    font-size: 1.2em;
    gap: 1.7em;
    color: var(--icons-clr);
    padding-inline-start: 1em;
    margin-block-start: 3.5em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.625);
}

.nav-icon-txt {
    gap: 1em;
}

.nav-icon-txt > div {
    font-family: google-sans, roboto, Arial;
    font-size: .8em;
}