header {

    background: lightcyan;
    border-bottom: 2px solid white;
}

.note-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.span-search::before {
    content: '\f002';
    font-family: fa;
}

.note-header-img {
    width: 40px;
    height: 40px;
}

.btn-search::before {
    content: '\f0c9';
    font-family: fa;
}

.note-header {
    padding-block: 14px;
}

.header-search {
    padding-inline-end: 140px;
    gap: 15px;
}

.menu-of-btn {
    display: none;
}

.header-logo {
    color: var(--main-notes-logo-clr);
    font-family: Arial;display: inline-block;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    vertical-align: middle;
}

.header-search input {
    height: 3em;
    width: 30vw;
}