@font-face {
    font-family: fa;
    src: url('../../fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: fa-reg;
    src: url(../../fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: google-sans;
    src: url(../../fonts/GoogleSans-Regular.ttf);
} 

@font-face {
    font-family: bubble;
    src: url(../../fonts/Bubble.ttf);
} 

@font-face {
    font-family: handWriting;
    src: url(../../fonts/HandWriting.ttf);
} 