@font-face {
    font-family: fa;
    src: url('../../assets/fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: fa-reg;
    src: url(../../assets/fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: google-sans;
    src: url(../../assets/fonts/GoogleSans-Regular.ttf);
} 

@font-face {
    font-family: bubble;
    src: url(../../assets/fonts/Bubble.ttf);
} 

@font-face {
    font-family: handWriting;
    src: url(../../assets/fonts/HandWriting.ttf);
} 