:root {
    --main-bg-color: lightblue;
    --main-bg-note-color: #ffffff;
    --main-notes-logo-clr: #5f6368;
    --icon-bgc: rgba(219, 219, 219, 0.508);

    --icons-clr: #999999;
    --add-note-clr: #525252;

    --mailOutletBG:  rgba(255, 255, 255, 0.445);
    --mailOutletBorder: #535353c4;
    --mailBtnHover:rgba(245, 245, 245, 0.568);
}